<%- partial('_partial/article', {post: page, index: false}) %>
<% if(page.comments && theme.comments && theme.comments.gitment){ %>
    <div id="gitment-comments"></div>    
<% } %>

<script>
const gitment = new Gitment({
    id: "<%= page.title.replace(/[^\w\s]/gi, '').substring(0, 49) %>",
    owner: 'smilee',
    repo: 'blog',
    oauth: {
        client_id: '<%= theme.comments.gitment.clientId %>',
        client_secret: '<%= theme.comments.gitment.clientSecret %>'
    }
});
gitment.render(document.getElementById('gitment-comments'));
</script>